:root {
  --body-main-bg-color-dark: #111111;
  --body-main-bg-color-light: #fafafa;
  --side-bg-color-dark: #1e1e1e;
  --side-bg-color-light: #FFFFFF;
  --font-color-dark: #ffffff;
  --font-color-light: #121212;
  --nav-bar-heigth: 3.75rem
}